@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: flex;
  flex-direction:column;
  min-height:100vh;
}

button, [type='button'], [type='submit']
{
  color: #fff;
  background-color: #0d1fa1;
}